*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
    min-height: 100vh;
}
  
.section-main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(/assets/images/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
}
  
/* .section-main .contenedor h1{
    color: #FF1D1C;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
} */
  
.header-index{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    transition: 0.6s;
}

.header-index.down{
    background: #001030;
    padding: 15px 80px;
}
  
.header-index .brand{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}
  
.header-index .menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.header-index .menu ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.header-index .menu ul li{
      list-style: none;
}
  
.header-index .menu a{
    color: #ff1d1c;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin: 0 30px;
    padding: 0 10px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color, background;
}
  
.header-index .menu a:hover{
    color: #001030;
    background: #ffffff;
}
  
/* .section-two{
    padding: 20px;
} */
  
.header-index .btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
  
#logo-img{
    width: 200px;
}

@media (max-width: 991px){
    .header-index, .header-index.down{
        padding: 20px 40px;
    }
    .header-index .btn{
      display: block;
    }
  
    .header-index .menu{
      position: fixed;
      background: #001030;
      min-width: 330px;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 80px 50px;
      transition: 0.5s;
      transition-property: right;
    }
  
    .header-index .menu ul{
        flex-direction: column;
      }
  
    .header-index .menu.active{
      right: 0;
    }
  
    .header-index .menu .close-btn{
      position: absolute;
      top: 0;
      left: 0;
      margin: 25px;
    }
  
    .header-index .menu a{
      display: block;
      font-size: 20px;
      margin: 20px;
      padding: 0 15px;
    }
}
  
@media (max-width: 600px){
    .section-main h1{
      font-size: 50px;
      line-height: 60px;
    }
}


/* BOTON WHATSAPP */
.boton-whatsapp{
    position:fixed;
    bottom: 0;
    right: 0;
    margin-right:1.8em;
    margin-bottom: 1.8em;
    z-index: 100;
    background-color: rgb(83, 228, 83);
    padding: 0.7em;
    border-radius: 2em;
    opacity: 1;
}

.foto-whatsapp{
    width:2em;
    height: 2em;
}
.foto-whatsapp:hover{
    opacity: 0.8; 
}

/* SECCION DESCRIPCION DEL BANNER */
.contenedor{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
    padding: 25%;
    margin-bottom: 10rem;
    font-weight: bold;
    text-transform: uppercase;
}

#description-banner{
    text-align: center;
    color: #ff1d1c;
    font-size:45px;
    display:block;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    border-right: 2px solid #ff1d1c;
    width: 10ch;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow:hidden;
}
@keyframes typing { from { width: 0}}
@keyframes blink {50% {border-color: transparent}}



/* GRID */
main .contenedor-grid {
    margin-top: 9em;
    margin-bottom: 9em;
    margin-right: 2em;
    margin-left: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "consulta medio sitio";
    text-align: center; 
}
main .contenedor-grid .consultas {
    grid-area: consulta;
    border-right: 2px solid #ff1d1c;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
}

main .contenedor-grid .consultas h3 {
    font-weight: bold;
    color: #ff1d1c;
    margin-bottom: 0.5em;
}

main .contenedor-grid .consultas i {
    margin-bottom: 1em; 
    color: #001030;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    opacity: 1; 
}

main .contenedor-grid .consultas i:hover {
    opacity: 0.8; 
    color: #ff1d1c;
}

main .contenedor-grid .medios {
    grid-area: medio;
    padding: 1em;
    border-right: 2px solid #ff1d1c;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

main .contenedor-grid .medios h3 {
    font-weight: bold;
    color:#ff1d1c;
    margin-bottom: 0.5em;

}
      
main .contenedor-grid .medios i {
    margin-bottom: 1em; 
    color: #001030;
    border-radius: 0.3em;
    background-color: none;
}


main .contenedor-grid .sitio {
    grid-area: sitio;
    border-right: none;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

main .contenedor-grid .sitio h3 {
    font-weight:bold; 
    color: #ff1d1c;
    margin-bottom: 0.5em;

}
    
main .contenedor-grid .sitio i{
    margin-bottom: 1em; 
    border-radius: 0.3em;
    background-color: none; 
    color: #001030;
}
