.contacto{
    color: #001030; 
    width: 100%;
    display: block;
}
form{
    font-family:'Monsterrat', sans-serif ;
}
.formulario{    
    margin: 2em;
    padding: 5px;
    display: flex;
    flex-flow: column;
    border-color: #001030;
    border-style: outset;
    padding: 0.5em;
}
.titulo{
    margin: 1px;
    padding: 1px;  
    font-weight: bold;
}
.titulo h2{
    font-size: 5em;
    margin-bottom: 0.5em;
    text-align: center;
    margin: 1em;
    font-family: 'Bebas Neue', cursive;

}

.formulario__grupo{
    font-size: small;
    margin: 2px;
    padding: 2px;

}
.formulario__grupo-input{
    position: relative;
}
.formulario__label{
    margin: 2px;
    padding: 2px;

}
.formulario__input{
    font-size: small;
 
}
.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;

}
.lineaBtn{
    width: 100%;
    font-size: small;
    margin: 2px;
    margin-top: 3em;
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
}
.btnSubmit{    
    color: #fff;
    padding: 10px 10px;    
    background-color: #001030;
    border-radius: 0.2em;
    border: none;
}
.btnSubmit:hover {
    background-color: #ff1d1c;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
    padding: 2px;
    display: flex;
    justify-content: space-evenly;

}
.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}



/* ----------- SEGUNDA SECCION GRID---------- */
.consultas h3{
    color: #001030;
}
.contenedor-grid i{
    color: #001030;
}

.contacto .contenedor-grid{
    margin-top: 9em;
    margin-bottom: 4em;
    margin-right: 2em;
    margin-left: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "consulta medio sitio";
    text-align: center; 
}

.contacto .contenedor-grid .consultas{
    grid-area: consulta;
    border-right: 2px solid #ff1d1c;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
}

.contacto .contenedor-grid .consultas h3{
    font-weight: bold;
    margin-bottom: 0.5em;
}

.contacto .contenedor-grid .consultas i{
    margin-bottom: 1em; 
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    opacity: 1; 
}

.contacto .contenedor-grid .consultas i:hover{
    opacity: 0.8; 
    color: #ff1d1c;
}

.contacto .contenedor-grid .medios{
    grid-area: medio;
    padding: 1em;
    border-right: 2px solid #ff1d1c;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.contacto .contenedor-grid .medios h3{
    font-weight: bold;
    margin-bottom: 0.5em;

}
      
.contacto .contenedor-grid .medios i{
    margin-bottom: 1em; 
    border-radius: 0.3em;
    background-color: none;
}


.contacto .contenedor-grid .sitio{
    grid-area: sitio;
    border-right: none;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.contacto .contenedor-grid .sitio h3{
    font-weight:bold; 
    margin-bottom: 0.5em;

}
    
.contacto .contenedor-grid .sitio i{
    margin-bottom: 1em; 
    border-radius: 0.3em;
    background-color: none; 
}


/* MEDIA QUERIES PARA EL GRID */
@media (max-width:533px){
    /* SECCION DOS DEL INDEX */
    .contacto .contenedor-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "consulta"
            "medio"
            "sitio";
    }
    .contacto .contenedor-grid .medios{
        border-right: none;
        border-bottom: 2px solid #001030;
        margin-top: 2em;
    }

    .contacto .contenedor-grid .sitio{
        margin-top: 2em;
    }
    
    .contacto .contenedor-grid .consultas{
        border-right: none;
        border-bottom: 2px solid #001030; 
    }
    .contendor-imagen{
        margin-top: 3em;
    }

    .titulo h2{
        font-size: 2.5em;
    }

}
