.contacto{
    font-size: small;
    color: #001030; 
    font-family: 'Monsterrat', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:8em;

}
.formulario{    
    width: 50%;
    margin: 2em;
    padding: 5px;
    display: flex;
    flex-flow: column;
    border-color: #001030;
    border-style: outset;
}
.titulo{
    margin: 1px;
    padding: 1px;    
}
.form-label{
    margin: 2px;
    padding: 2px;
}
.form-control{
    font-size: small;
}
.datoContacto{
    font-size: small;
    margin: 2px;
    padding: 2px;

}
.lineaBtn{
    width: 100%;
    font-size: small;
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: space-evenly;
}
.btnSubmit{    
    color: #fff;
    padding: 10px 10px;    
    background-color: #001030;
    border-radius: 0.2em;
    border: none;
}
.btnSubmit:hover {
    background-color: #ff1d1c;
}