
img, svg {
    vertical-align: middle;
}
.principal{
    display:block;
    width: 100%;
    /* margin-bottom: 3em; */
}

.imagen-fondo{
    background-image: url(../images/prueba15.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 30em;
    margin-bottom: 3em;
}
.texto-banner{
    color: #ff1d1c;
    text-align: center;
    padding-top: 2em;
    font-family: 'Montserrat', sans-serif;
    
}
.titulo-banner{
    color: #ff1d1c;
    text-align: center;
    padding-top: 2em;
    font-family: 'Bebas Neue', cursive;
    font-size: 4.5em;
    font-weight: bold;

}
.ubicacion{
    margin: 10px;    
    padding: 10px;
    color: #001030;
    display: flex;
    justify-content: space-around;
}

.mapaDibujo{    
    margin: 10px;
}

.mapaDireccion{
    margin: 10px;
    margin-top: 9em;
    width: 30%;
    font-family: 'Montserrat', sans-serif;

}
.mapaDireccion h2{
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: #ff1d1c;
    text-align: center;
    color: #ffff;
}

.mapaDireccion p{
    font-size: 1.2em;
}